#title {
  background: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1 {
  margin-top: 70px;
  font-family: "Ubuntu", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 25px;
  font-weight: bolder;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
}
h3 {
  padding-top: 20px;
  font-weight: bolder;
}

p {
  color: #8f8f8f;
}

/*Pfp Dog Image */
.pfp {
  padding: 50px 0px 50px 0px;
  transform: rotate(25deg);
  width: 60%;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 0 4.5rem;
}

.navbar-brand {
  font-size: 3rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.logo-paw {
  padding-left: 10px;
  /* margin-left: 0 50px; */
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0%;
}

/* Features Section */
#features {
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

.feature-box {
  padding: 5%;
}

.icon-heart,
.icon-bullseye,
.icon-check {
  color: #ef8172;
  margin-bottom: 0.5rem;
}

.icon-heart:hover,
.icon-bullseye:hover,
.icon-check:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background: #ef8172;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 20%;
}

#press {
  background: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
